Logs/*
Logs*
InputSources/*
legacy_src/
StandardizedSources/*
.idea/
build/
Exo-MerCat/
tests/__pycache__/
src/*egg-info
UniformSources/
DevelopmentFiles/
ASCOM_reviewedversion/
.ipynb_checkpoints
exo_mercat/
src/exomercat/__pycache__/
.DS_Store
docs/.DS_Store
src/.DS_Store
tests/.DS_Store