
h1 {
    color: #3fa2a0 !important;
}
code {
    color: #3fa2a0 !important;
}
.sig-name {
    color: #3fa2a0 !important;
}

.sidebar-logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

html:not([data-theme]) {
    --pst-color-primary: #3fa2a0;
    --pst-color-secondary: #ee9040;
    --pst-color-info: #459db9;
    --pst-color-warning: #ee9040;
    --pst-color-success: #28a745;
    --pst-color-attention: #ffc107;
    --pst-color-danger: #dc3545;
    --pst-color-text-base: #323232;
    --pst-color-text-muted: #646464;
    --pst-color-shadow: #d8d8d8;
    --pst-color-border: #c9c9c9;
    --pst-color-inline-code: #3fa2a0;
    --pst-color-target: #fbe54e;
    --pst-color-background: #fff;
    --pst-color-on-background: #fff;
    --pst-color-surface: #f5f5f5;
    --pst-color-on-surface: #e1e1e1;
    --pst-color-link: var(--pst-color-primary);
    --pst-color-link-hover: var(--pst-color-warning)
}

